- hsh = {:action => '/posts/create', :method => 'post', :id => 'new_post'}
- hsh[:style] = 'display:none' if hidden
%form{hsh}
  %label{:for => "whotheyare"} Who are you?
  %input{:name => "post[whotheyare]", :type => "text", :id => "whotheyare"}

  %br/

  %label{:for => "howtheyknowhim"} How do you know him?
  %textarea{:name => "post[howtheyknowhim]", :id => "howtheyknowhim", :cols => 45, :rows => 4}

  %br/

  %button{:type => "submit"} He's a pretty okay dude.