- hsh = {:action => '/posts/create', :method => 'post'}
- hsh[:style] = 'display:none' if hidden
%form#new_post{hsh}
  %label{:for => "whotheyare"} Who are you?
  %input#whotheyare{:name => "post[whotheyare]", :type => "text"}

  %br/

  %label{:for => "howtheyknowhim"} How do you know him?
  %textarea#howtheyknowhim{:name => "post[howtheyknowhim]", :cols => 35, :rows => 4}

  %br/

  %button{:type => "submit"} He's a pretty okay dude.