- if @saved_for
  %div.saved
    = "You really know Josh, hunh, #{@saved_for}?"


%h1 I Know Josh Stone

%h3
  %a{:href => '/posts/new'}
    Do you know Josh Stone?

- @posts.each do |post|
  %div{:class => 'post'}
    %div{:class => 'post-whotheyare'}
      %strong{:class => 'whotheyare'}
        = post[:whotheyare]
      knows Josh:
    %div{:class => 'howtheyknowhim'}
      = post[:howtheyknowhim]
  